{% extends "YannickMaheSelfHostedVideosBundle::layout.html.twig" %}

{% block content %}
{% if error %}
    <div class="alert alert-error">
  		<button type="button" class="close" data-dismiss="alert">&times;</button>
    	{{ error|trans({}, 'FOSUserBundle') }}
    </div>
{% endif %}
<div class="login-form">
<form action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <div class="control-group">
        <input class="login-field" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
        <label class="login-field-icon fui-man-16" for="username"></label>
    </div>

    <div class="control-group">
        <input type="password" class="login-field" id="password" name="_password" required="required" />
        <label class="login-field-icon fui-lock-16" for="password"></label>
    </div>
    

    <input type="submit" class="btn btn-primary btn-large btn-block" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
</form>
</div>
{% endblock content %}