<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{{ path('yannick_mahe_self_hosted_videos_list') }}">Self Hosted Videos</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  	{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <ul class="nav navbar-nav">
		<li{% if current == 'list' %} class="active"{% endif %}><a href="{{ path('yannick_mahe_self_hosted_videos_list') }}"><i class="fa fa-video-camera"></i> All videos</a></li>
		<li{% if current == 'from_file' %} class="active"{% endif %}><a href="{{ path('yannick_mahe_self_hosted_videos_add_from_file') }}"><i class="fa fa-folder-open"></i> </span> Add from file</a></li>
		<li{% if current == 'upload' %} class="active"{% endif %}><a href="{{ path('yannick_mahe_self_hosted_videos_upload_page') }}"><i class="fa fa-upload"></i> </span> Upload</a></li>
		<li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-unlock"></i>  Logout</a></li>
    </ul>
    <form class="navbar-form navbar-left" role="search" method="GET"  action="{{ path('yannick_mahe_self_hosted_videos_list') }}">
      <div class="form-group">
        <input type="text" class="form-control"  name="q" value="{{ q }}" placeholder="Search video...">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
	{% endif %}
  </div><!-- /.navbar-collapse -->
  </div>
</nav>