{% extends "YannickMaheSelfHostedVideosBundle::layout.html.twig" %}

{% block title %}{{ video.name }}{% endblock %}

{% block page_stylesheets %}<link rel="stylesheet" type="text/css" href="http://releases.flowplayer.org/5.3.2/skin/minimalist.css" />{% endblock %}

{% block menu %}
   {% include "YannickMaheSelfHostedVideosBundle:Default:menu.html.twig" with {'current': '', 'q': ''} %}
{% endblock %}

{% block content %}
<div class="page-header">
<h1>{{ video.name|truncate(32,true,'...') }}</h1>
</div>

<div style="text-align:center;">
	<div class="flowplayer">
	   <video>
	      <source type="video/mp4" src="{{ app.request.scheme ~ '://' ~ app.request.host ~ '/' ~ video.webPath }}"/>
	   </video>
	</div>
</div>
<hr />
<a class="btn btn-primary" href="{{ app.request.scheme ~ '://' ~ app.request.host ~ '/' ~ video.webPath }}">
	<i class="icon-download icon-white"></i> Download {{ video.name }}
</a>
{% endblock %}

{% block page_javascripts %}
	<script>
		$(document).ready(function(){
			var vidWidth = $('#main-container').width();
			$('.flowplayer').css('width',Math.min(vidWidth,{{ video.width }}))
		})
	</script>
	<script src="http://releases.flowplayer.org/5.3.2/flowplayer.min.js"></script>
{% endblock %}