{% extends "YannickMaheSelfHostedVideosBundle::layout.html.twig" %}

{% block title %}{{ video.name }}{% endblock %}

{% block page_stylesheets %}<link rel="stylesheet" type="text/css" href="http://releases.flowplayer.org/5.3.2/skin/minimalist.css" />{% endblock %}

{% block menu %}
   {% include "YannickMaheSelfHostedVideosBundle:Default:menu.html.twig" with {'current': '', 'q': ''} %}
{% endblock %}

{% block content %}
<div class="page-header">
<h1>{{ video.name|truncate(30,true,'...') }}</h1>
</div>

<div style="text-align:center;">
	<div class="flowplayer">
	   <video>
	      <source type="video/mp4" src="{{ app.request.scheme ~ '://' ~ app.request.host ~ '/' ~ video.webPath }}"/>
	   </video>
	</div>
</div>
<hr />

<a class="btn" id="smaller">-</a>
<a class="btn" id="larger">+</a>

{% if previous %}
  <a class="btn" title="{{ previous.name }}" href="{{ path('yannick_mahe_self_hosted_videos_video', {'video_id': previous.id}) }}"><<</a>
{% endif %}

{% if next %}
  <a class="btn" title="{{ next.name }}" href="{{ path('yannick_mahe_self_hosted_videos_video', {'video_id': next.id}) }}">>></a>
{% endif %}

<a class="btn" onclick="$('body').toggleClass('dark');">Toggle cinema mode</a>

<a class="btn btn-primary" href="{{ app.request.scheme ~ '://' ~ app.request.host ~ '/' ~ video.webPath }}">
	Direct link
</a>
<a class="btn btn-danger" data-toggle="modal" href="#modal-delete">
	<span class="fui-cross-16"></span> Delete this video
</a>

<div class="modal hide fade" id="modal-delete">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Are you sure?</h3>
  </div>
  <div class="modal-body" style="text-align: center;">
    <img style="margin-left: auto; margin-right: auto;" src="{{ app.request.scheme ~ '://' ~ app.request.host ~ '/' ~ video.thumbnailWebPath }}" alt={{ video.name }}/>
    <form method="POST" action="{{ path('yannick_mahe_self_hosted_videos_delete', {'video_id': video.id}) }}">
    	<input type="hidden" name="_method" value="DELETE" />
    </form> 
  </div>
  <div class="modal-footer">
    <a href="#" class="btn">Cancel</a>
    <a href="#" onclick="$('#modal-delete form').submit();" class="btn btn-danger"><span class="fui-cross-24"></span> Yes, delete this video</a>
  </div>
</div>

{% endblock %}

{% block page_javascripts %}
	<script>
		$(document).ready(function(){
			var vidWidth = $('#main-container').width();
			$('.flowplayer').css('width',Math.min(vidWidth,{{ video.width }}));
      $('#smaller').click(function(){
        var width = $('.flowplayer').width();
        console.log(width);
        if(width > 100){
          width-=10;
          console.log(width);
          $('.flowplayer').width(width);
        }
        return false;
      });
      $('#larger').click(function(){
        var width = $('.flowplayer').width();
        if(width < 1000){
          width+=10;
          $('.flowplayer').width(width);
        }
        return false;
      })
		})
	</script>
	<script src="http://releases.flowplayer.org/5.3.2/flowplayer.min.js"></script>
{% endblock %}